<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../css/fontawesome-free-6.7.2-web/css/all.css">

    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <script src="../components/header.js"></script>
    <script src="../components/card.js"></script>
    <script src="../components/forms.js"></script>

    <script>
        header('<a href="../index.html" class = "text-white"><i class="fa-solid fa-chevron-left"></i></a> Recordarte');
    </script>

    <center>

        <br>

        <div class="card">

            <img class="card-img-top" src="../img/abuelos.png">

            <div class="card-body">

                <h5 class="card-title">Yo Soy</h5>

                <form action="">

                    <br>
                    <input id="miNombre" class="form-text h1" type="text" placeholder="Mi nombre">
                    <br><br>

                    <a href="#" class="btn btnNormal">
                        <i class="fa-solid fa-microphone"></i>
                    </a>
                    <input class="btn btnNormal" type="submit" value="Entrar">

                </form>

            </div>

        </div>

        <br>
        <button class="btn" style="background-color: #eab9d3;">

            <div class="row">

                <div class="col col-1 h1">
                    <i class="fa-solid fa-phone"></i>
                </div>

                <div class="col">
                    LLamada de emergencia
                    <br>
                    ¡Presiona aqui!
                </div>
            </div>
        </button>

    </center>
</body>

</html>