<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <script src="../components/header.js"></script>
    <script src="../components/card.js"></script>
    <script src="../components/forms.js"></script>

    <script>
        header('Recordarte');
    </script>

    <center>

        <br>

        <script>
            cardInicio('../img/abuelos.png', 'Yo soy:', 'Entrar');
        </script>

        <button class="btn" style="background-color: #eab9d3;">
            LLamada de emergencia
            <br>
            ¡Presiona aqui!
        </button>

    </center>
</body>

</html>