<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicacion</title>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../css/fontawesome-free-6.7.2-web/css/all.css">

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/map.css">

</head>

<body>

    <script src="../components/header.js"></script>

    <script>
        header('<a href="panel.html" class = "text-white"><i class="fa-solid fa-chevron-left"></i></a> Ubicación');
    </script>

    <center>
        <br>
        <h1>Estoy en:</h1>
    </center>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29594.270212675736!2d-99.01178879999999!3d22.000435200000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1739122327778!5m2!1ses-419!2smx"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>

</body>