/* body{
    background-color: #eab9d2;
} */
#cabecera{
    background-color: #673296;
}

#logoInicio{
    width: 100%;
    padding: 2rem;
    vertical-align:middle;
    align-items: center;
}

#logoInicio img{
    width: 100%;
}

.btnNormal{
    background-color: #673296;
    color: white;
    font-size: 1.5rem;
}

.card{
    width: 90%;
    margin: 5%;
    border-color: #673296;
    background-color: #c3aafe;
    align-items:center ;
}

.card-body{
    background-color: #c3aafe;
}

.card-img-top{
    border-radius: 9rem;
    margin: 2%;
    padding: 1%;
    width: 70%;
    background-color: white;
}
