.container {
    font-size: 1.5rem;
}

#question{
    padding: 1rem;
}

#answer{
    padding: 1rem;
    margin: 1rem;
}

#btnMatematicas{
    margin: 1rem;
}

.result{
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    /* background-color: #eab9d2; */
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
